/*.content * {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}*/

.clear {
	clear: both;	
}

/* ==========================================================================
   General
   ========================================================================== */
  
html,body {
	padding: 0px !important;
	margin: 0px !important;	
	position: relative;
}

html {
	height: 100%;	
}

body {
	min-height: 100%;
	padding: 0px 0px 40px 0px !important;
}

.header-container {
	background-color: #333333;
	height: 40px;
	overflow: hidden;
}

.header {
	color: #DDDDDD;
	max-width: 730px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 7px !important;
	padding-right: 7px !important;
}

.header .navbar-brand {
	font-size: 16px;
	padding: 9px 6px 10px 6px;	
}

.header .nav.pull-left li a.glyph-container {
	background-color: #333333;
	border: 0 none;
	font-size: 120%;
	outline: 0 none;
	padding: 8px 7px;
}

.nav.nav-pills.pull-right > li {
	margin: 0px 0px 0px 8px;	
}

.header .nav.pull-right li a {
	padding: 10px 3px;
}

.header .nav.pull-right li a.glyph-container {
	background-color: #333333;
	border: 0 none;
	font-size: 120%;
	outline: 0 none;
	padding: 8px 5px;
}


.header .nav li a {
	color: #DDDDDD;
}

.header .nav li a:hover {
	color: #FFFFFF;
}

.highlighted {
	background-color: #EAF1F1;
	border-bottom: 1px solid #D2D8D8;
	border-top: 1px solid #D2D8D8;
	color: rgb(44, 62, 80);
	padding: 20px 0px;
}

.highlighted .content {
	max-width: 730px;
	margin: 0px auto 0px;
	padding: 0px 10px;
}

.container {
	padding-top: 30px;
	padding-bottom: 20px;	
}

.footer-container {
	position:absolute;
	bottom:0px;
	width:100%;
	background-color: #333333;
	height: 40px;
	overflow: hidden;	
}

.footer {
	border: 0px !important;
	color: #FFFFFF !important;
	max-width: 730px;
	margin: 10px auto 0px;
	padding: 0px 10px !important;
} 
  
.footer .copyright {
	margin-right: 10px;	
}

.footer .admin {
	float: right;	
}
  

/* ==========================================================================
   Movie Recast
   ========================================================================== */

.movie-recast {
	padding-bottom: 20px;
}

.recast-movie {
	
}

.recast-movie .recast-movie-left {
	float: left;
}

.recast-movie .recast-movie-left .recast-poster {
	max-height: 200px;
	margin-bottom: 20px;
	
}

.recast-movie .recast-movie-left a {
	display: block;	
	margin-bottom: 20px;
}

.recast-movie .recast-movie-details {
	margin-left: 148px;
}

@media screen and (max-width: 600px) {
	.recast-movie .recast-movie-left a {
		font-size: 80%;	
		padding: 6px 6px;
	}
	
	.recast-movie .recast-movie-details .recast-movie-overview {
		font-size: 85%;
		margin-top: 10px;
	}
	
	
	
}

.recast-movie .recast-movie-details .recast-movie-title {
	font-size: 130%;
}

.recast-movie .recast-movie-details .recast-movie-overview {
	font-size: 95%;
	margin-top: 10px;
}


/*
.recast-movie .recast-movie-details .recast-movie-title {
	font-size: 150%;
}

.recast-movie .recast-movie-details .recast-movie-overview {
	font-size: 100%;
	margin-top: 10px;
}*/

.movie-recast .recast-character {
	margin-bottom: 30px;
}

.movie-recast .recast-character > .photo {
	background: no-repeat center center contain;
	float: left;
	height: auto;
	width: 100px;
}

.movie-recast .recast-character > .text{
	margin-left: 135px;
	overflow: hidden;
	padding: 20px 0px;
}

.movie-recast .recast-character > .text > .name {
	font-size: 120%;
	margin-bottom: 30px;
}

.movie-recast .recast-character > .text > .choice {
	
}

/*.movie-recast .recast-character > .text > .choice > input {
	font-size: 100%;
	padding: 5px 10px;
	
}*/

.movie-recast .recast-submit {
	margin-top: 30px;
	text-align: right;	
}

.list_item_container {
	color: #000000;
	height: 100px;
	padding: 5px;
}

.list_item_container .image {
	width: 60px;
	height: 90px;
	float: left;
}

.list_item_container .image img {
	width: 60px;
	height: auto;
}

.list_item_container .name {
	color: #000000;
	font-size: 100%;
	margin-left: 80px;
	font-weight: bold;
}

.list_item_container .description {
	font-style: italic;
	font-size: 0.8em;
	color: gray;
	margin-left: 80px;
}

.ui-state-focus {
	background: #DADADA !important;
	background-image: none !important;	
}

@media screen and (max-width: 600px) {
	.ui-autocomplete {
		width: 200px !important;	
	}
}

/* ==========================================================================
   Movie Recast :: New
   ========================================================================== */
  
.recast-new {
	
}

.recast-new .cast {
	margin: 20px 0px;	
}

.recast-new .cast > li {
	background-color: #FFFFFF;
	display: table;	
	float: left;
	height: 170px;
	margin: 20px 0px;
	padding: 10px 0px;
	width: 50%;
}

.recast-new .character .character-checkbox {
	display: table-cell;
	padding: 20px; 
	width: 53px;
}

.recast-new .character .character-checkbox input {
	cursor: pointer;
}

.recast-new .character .character-profile {
	display: table-cell;
	width: 100px;
}

.recast-new .character .character-profile img {
	cursor: pointer;
	max-width: 100px;
	height: auto;
}

.recast-new .character .character-details {
	display: table-cell;
	padding: 0px 15px 0px 30px;
	vertical-align: top;
}

.recast-new .character .character-details .character-name {
	font-size: 130%;
}

.recast-new .character .character-details .character-actor {
	font-size: 120%;
	margin-top: 10px;
}

/* ==========================================================================
   Movie Recast :: Management
   ========================================================================== */
  
 
.movie-recast-list {
	-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
	display: table;
}

.movie-recast-list a {
	display: block;
	float: left;
	outline: none !important;
	padding: 10px 10px;
	height: 230px;
}

.movie-recast-list a img {
	height: 100%;
	width: auto;
}

.movie-recast-list a.new {
	background-color: #FFFFFF;
	border: 1px dashed #999999;
	border-radius: 5px;
	color: #666666;
	font-size: 70px;
	height: 210px;
	line-height: 210px;
	margin: 10px 10px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 140px;
}

@media screen and (max-width: 600px) {
	.movie-recast-list a.new {
		font-size: 40px
	}
}

.movie-recast-list a.new:hover {
	background-color: #EEEEEE;	
}

/* ==========================================================================
   Movie Recast :: Response
   ========================================================================== */
  

.movie-recast.response {
	font-size: 14px;
}

@media screen and (max-width: 600px) {
	.movie-recast.response {
		font-size:11px;
	}
}

.movie-recast.response .recast-poster {
	max-height: 300px;
}

.movie-recast.response .recast-vote {
	display: table;
	margin: 45px 0px;
}



.movie-recast.response .recast-vote .person {
	display: table-cell;
	text-align: center;
	width: 38%;
}

.movie-recast.response .recast-vote .person .photo-container {
	/*height: 255px;*/
	margin: 0px auto;
	width: 65%;
}

.movie-recast.response .recast-vote .person .photo-container img {
	height: auto;
	margin: 0px auto;
	width: 100%;
}

.movie-recast.response .recast-vote .person .name {
	font-size: 140%;
	margin: 10px 0px;
}

.movie-recast.response .recast-vote .as {
	display: table-cell;
	font-size: 210%;
	text-align: center;
	vertical-align: middle;
	width: 24%;
}

.recast-response-social {
	margin: 0px auto;
	width: 300px;
}

.recast-response-social iframe.twitter-share-button {
	float: left;
}

.recast-response-social span {
	display: block;
	float: left;
	font-size: 130%;
	margin-left: 10px;
	margin-right: 10px;
}

.recast-response-social a.facebook {
	background-image: url(/images/social/facebook-share.png);
	display: block;
	float: left;
	height: 28px;
	width:68px;
} 


/* ==========================================================================
   Advertisements
   ========================================================================== */

.wsp-responsive { width: 320px; height: 50px; }
@media(min-width: 500px) { .wsp-responsive { width: 468px; height: 60px; } }
@media(min-width: 800px) { .wsp-responsive { width: 728px; height: 90px; } } 
  
.recast-banner {
	display: none;
	margin: 0px -15px 20px;
}

.recast-banner.adsense {
	display: block;
	padding: 0px 15px;
	width: 100%;	
}

.recast-banner iframe {
	display: block;
	margin: 0px auto;	
}

@media screen and (min-width: 728px) {
	.banner-728 {
		display: block;
	}
}

@media screen and (max-width: 728px) {
	.banner-300 {
		display: block;
	}
}


/* ==========================================================================
	To Categorize
   ========================================================================== */

.link-area .panel-title {
	font-size: 14px;
}

.link-area .panel-body {
	color: #777777;
	font-size: 95%;
	margin-bottom: 0px;
}



.recast-character .ranks {
	height: 150px;
	margin-left: 110px;
	overflow: hidden;
}

.recast-character .ranks .rank {
	color: #666666;
}

.recast-character .ranks .rank .name {
	float: left;
	width: 230px;
	height: 20px;
	overflow: hidden;
}

@media screen and (max-width: 600px) {
	.recast-character .ranks .rank .name {
		font-size: 80%;
		line-height: 20px;
		width: 130px;
	}
	.recast-character .ranks .rank .progress .progress-label {
		font-size: 10px !important;	
	}
}

.recast-character .ranks .rank .name .count {
	margin-right: 5px;
	width: 15px;
}

.recast-character .ranks .rank .progress {
	background-color: #AAAAAA;
	margin-bottom: 12px;
	position: relative;
}

.recast-character .ranks .rank .progress .progress-label {
	color: #FFFFFF;
	font-size: 12px;
	left: 0;
	line-height: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
}


.message-container {
	display: none;
	margin: 0 auto;
	width: 100%;
}

.message-container .alert {
	margin-bottom: 0px !important;	
}

.message-container .alert .content {
	max-width: 730px;
	margin: 0px auto !important;
}



.intro-modal.in {
	padding-top: 30px;	
}